.auth-form
  .container
    .auth-content
      include ../../models/auth/form-reg2
      include ../../models/auth/form-reg
      include ../../models/auth/form-forgot
      include ../../models/auth/form-confirm
      include ../../models/auth/form-author