.auth-form
  .container
    .auth-content
      //- include ../../models/auth/form-reg2
      //- include ../../models/auth/form-reg
      //- include ../../models/auth/form-forgot
      //- include ../../models/auth/form-confirm
      //- include ../../models/auth/form-author
      //- include ../../models/auth/auth-service
      //- include ../../models/auth/search
      //- include ../../models/auth/successful
      //- include ../../models/auth/unsubscribe
      //- include ../../models/auth/user-inform
      include ../../models/auth/payment

      
