.cost__title Номер исполнительного производства
.cost__number 23287/20/50006-ИП от 12.08.2020
.cost__amount
  .cost__pay Сумма к оплате
    span 2 579. 67 руб
  .card__btn
    a(href="#").btn.btn--small.btn--pink.btn--iconed
      span Оплатить
        img(src="images/icons/post.svg", alt="icon")