.card
  .card__content
    .card__text
      .card__top
        include ../../models/objects-card/fssp/card-top
      .card__datas
        include ../../models/objects-card/fssp/card-data
     
      .card__block
        .card-data__name Описание
        .card-data__description
          p.card-data__desc Постановление от 2020-08-12 00:00:00 2А-374/2020. Постановление о взыскании исполнительского сбора СУДЕБНЫЙ
            | УЧАСТОК № 38 МИРОВОГО СУДЬИ ДОМОДЕДОВСКОГО СУДЕБНОГО РАЙОНА МОСКОВСКОЙ ОБЛАСТИ
    .card__cost
      include ../../models/objects-card/fssp/card-cost