.card
  .card-inform__block
    .card__content
      .card__text
        .card__top
          include ../../models/objects-card/gbdd/card-top
        .card__datas
          include ../../models/objects-card/gbdd/card-data
     
        .card__block
          .card-data__name Описание
          .card-data__description
            p.card-data__desc П12.9.2 - Превышение установленной скорости движения транспортного средства на величину более 20, но не более 40 км/ч - Превышение скорости на 20‍–‍40 км‍/‍ч
        
      .card__cost
        include ../../models/objects-card/gbdd/card-cost

    .card-data__links
      .card-data__link
        a(href="#") Показать реквизиты оплаты

      .card-data__requisite  
        include ../../models/objects-card/requisite