.card
  .card__content
    .card__text
      .card__top
        include ../../models/objects-card/gbdd/card-top
      .card__datas
        include ../../models/objects-card/gbdd/card-data
     
      .card__block
        .card-data__name Описание
        .card-data__description
          p.card-data__desc П12.9.2 - Превышение установленной скорости движения транспортного средства на величину более 20, но не более 40 км/ч - Превышение скорости на 20‍–‍40 км‍/‍ч
        
        .card-data__links.card-data__links--close
          .card-data__link.card-data__link--close
            a(href="#") Показать реквизиты оплаты

          .card-data__link.card-data__link--open
            a(href="#") Скрыть реквизиты оплаты

          .card-data__requisite  
            include ../../models/objects-card/requisite
    
    
    
    
    .card__cost
      include ../../models/objects-card/gbdd/card-cost