.requisite
  .requisite__content
    .requisite__item
      .requisite__name Организация
      .requisite__text УФК по Тамбовской области (УМВД России по Тамбовской области)
      .requisite__name ИНН
      .requisite__text 6831004679
      .requisite__name КПП
      .requisite__text 682901001
      .requisite__name Банк:
      .requisite__text ОТДЕЛЕНИЕ ТАМБОВ Г.ТАМБОВ
      .requisite__name Расчетный счет:
      .requisite__text 40101810000000010005
    .requisite__item
      .requisite__name БИК:
      .requisite__text 046850001
      .requisite__name Назначение платежа:
      .requisite__text УФК по Тамбовской области (УМВД России по Тамбовской области)
      .requisite__name КБК:
      .requisite__text 18811601121010001140
      .requisite__name ОКАТО:
      .requisite__text 68701000



    