.top-search
  .top-search__content
    .top-search__name
      .top-search__icon
        img(src="images/icons/result-search.svg", alt="")
      .top-search__title Найдено задолженностей
      .top-search__namber 3
    .top-search__item
      input(type="text" value ="Введите номер ИП").top-search__input
      .top-search__link
        a(href="#").btn.btn--small.btn--dark.btn--iconed.btn--search
          span Найти
            img(src="images/icons/search-whitet.svg", alt="icon")
  .top-search__gup
  