.card__cost {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 288px;
  margin-left: 20px;

  @media screen and(max-width: 1200px) {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
   } 
}

.cost__title {
  font-weight: 500;
  font-size: 14px;
  color: #136B9F;

  @media screen and(max-width: 1200px) {
    font-size: 12px;
    text-align: center;
  }
}

.cost__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 14px;

  @media screen and(max-width: 1200px) {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
  }
}

.cost__amount {
  width: 288px;
  padding-top: 34px;
  // padding-bottom: 71px;
  // height: 207px;
  height: 100%;
  background: #F1F7FE;

  @media screen and(max-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
  }
}

.cost__pay {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #136B9F;
  text-align: center;
  margin-bottom: 22px;
  
  span {
    display: block;
  }
  @media screen and(max-width: 1200px) {
    margin-bottom: 11px;
    font-size: 16px;
  }
}

  .cost__btn {
    display: flex;
    justify-content: center;
    padding: 0 54px;

  @media screen and(max-width: 1200px) {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}