.dash-card
  .dash-card__icons
    img(src="images/dash/drivers.svg", alt="drivers").dash-card__icon
    img(src="images/dash/drivers-no_activ.svg", alt="drivers").dash-card__icon--not-active
  h4.dash-card__title Штрафы на водительское удостоверение
  .dash-card__debts
    img(src="images/dash/file.svg", alt="file").debts__icon
    img(src="images/dash/fail-no_activ.svg", alt="file").dash-card__icon--not-active
    .debts__text Неоплаченных долгов
    .debts__amount 22
    .debts__no-quantity --
  .dash-card__bottom
    .dash-card__btn
      a(href="#").btn.btn--little.btn--green.btn--iconed
        span Добавить объект
          img(src="images/icons/plus.svg", alt="icon")
    .dash-card__value На сумму
      span <b>198 967. 00 </b> руб
    .dash-card__no-value На сумму
       span <b> 00. 0 </b> руб