.found-record
  img(src="images/icons/note.svg", alt="").found-record__icon
  .found-record__name  ФССП
  .found-record__amount 
    span Сумма задолженности:  2 579. 67 руб
    span Исполнительный сбор:   2 632. 23 руб
  .found-record__text Актуально
  .found-record__card
    img(src="images/icons/human-ellips.svg", alt="").card__icon
    .card__text
      .card__name Красильников Вениамин Станиславович
      .card__date 
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 06.09.2020
    .card__btn
       a(href="#").btn.btn--small.btn--pink.btn--iconed
        span Оплатить
          img(src="images/icons/post.svg", alt="icon")
  
   

