.searching-results
  h6.searching-results__title Результаты поиска
  .searching-results__ad
    .searching-results__content
      
      img(src="images/icons/notice.svg", alt="notice").searching-results__icon
      .searching-results__text Поздравляем!
        span Мы не нашли ни одного долга по вашим объектам
      img(src="images/bg/searching-results-bg.jpg", alt="").searching-results__img

