.dash-card {
  max-width: 395px;
  width: 100%;
  background: #FFFFFF;
  border: 0.5px solid #D6D7DB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 28px 20px 14px;
  color: #183557;
  margin-bottom: 10px;
  margin-right: 10px;

  &:nth-child(3) {
    margin-right:0px;
  }

  &:last-child {
    margin-right:0px;
  }

  @media screen and(max-width: 1200px) {
    padding: 8px 8px 11px 8px;
    margin-right: 0;
  }
}

.dash-card__icons {
  width: 84px;
  height: 84px;
  margin-bottom: 8px;

  @media screen and(max-width: 1200px) {
    width: 42px;
    height: 42px;
    margin-bottom: 4px;
    margin-right: 6px;
  } 
}

.dash-card__icon {
  width: 100%;
}

.dash-card__logo {
  @media screen and(max-width: 1200px) {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}

.dash-card__icon--not-active,
.debts__no-quantity,
.dash-card__value {
  display: none;
}

.dash-card__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 17px;

  @media screen and(max-width: 1200px) {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
}

.dash-card__debts {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  border-bottom: 2px solid #D5DEEB;
  padding-bottom: 21px;

  @media screen and(max-width: 1200px) {
    border: none;
    margin-bottom: 5px;
    padding-bottom: 0;
   }
}

.debts__icon {
  display: block;

  @media screen and(max-width: 1200px) {
   width: 16px;
   height: 16px;
  } 
}

.debts__icon--not-active {
  display: none;
}

.debts__text {
  max-width: 113px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  margin-right: 63px;
  margin-left: 18px;

  @media screen and(max-width: 1200px) {
    font-size: 14px;
    line-height: 17px;
    margin-right: 9px;
    margin-left: 19px;
  }
}

.debts__amount {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  color: #DD0F49;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(223, 30, 84, 0.2);

  @media screen and(max-width: 1200px) {
    width: 22px;
    height: 22px;
    font-size: 12px;
   }
}

.dash-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 1200px) {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: unset;
  }
}

.dash-card__btn {
  flex-shrink: 0;

  @media screen and(max-width: 1200px) {
    width: 100%;
  }
}

.dash-card__value {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  span {
    display: block;

    @media screen and(max-width: 1200px) {
      margin-left: 16px;
    }
  }

  @media screen and(max-width: 1200px) {
    display: flex;
    text-align: left;
    font-size: 14px;
    width: 100%;
    margin-bottom: 8px;
   }
}

.dash-card__no-value  {
  display: none;
}

// \\\\\\\\\
.dash-card--not-active {

  .debts__amount,
  .dash-card__icon,
  .debts__icon,
  .dash-card__value {
    display: none;
  }

  .dash-card__icon--not-active {
    display: block;
    @media screen and(max-width: 1200px) {
      width: 42px;
      height: 42px;
      margin-bottom: 4px;
      margin-right: 6px;
    } 
  }

  .debts__icon--not-active {
    display: block;
    @media screen and(max-width: 1200px) {
      width: 16px;
      height: 16px;
     } 
  }

  .debts__no-quantity {
    display: block;
  }
  
  .dash-card__no-value {
    display: block;

    span {
      display: block;
      @media screen and(max-width: 1200px) {
        margin-left: 16px;
       }
    }

    @media screen and(max-width: 1200px) {
      display: flex;
      text-align: left;
      font-size: 14px;
      width: 100%;
      margin-bottom: 8px;
     }
  }

  .dash-card__title {
    color: #183557;
  }

  .debts__text,
  .dash-card__no-value  {
    color: #9CB8C2;
  }
}
