.found-record {
  background: #FFFFFF;
  border: 0.5px solid #D6D7DB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 13px 18px 14px 29px;
  max-width: 1205px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and(max-width: 1200px) {
    padding: 6px 7px;
  }
  
}


.found-record__icon {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 28px;

  @media screen and(max-width: 1200px) {
    display: none;
  }
}

.found-record__name {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #605858;
  margin-right: 39px;
  @media screen and(max-width: 1200px) {
    display: none;
  }
}

.found-record__amounts {
  margin-right: 60px;
  @media screen and(max-width: 1200px) {
    display: none;
  }
}

.found-record__amount  {
  width: 280px;
  font-size: 16px;
  line-height: 14px;
  color: #183557;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.found-record__text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #DD0F49;
  margin-right: 35px;

  &::before {
    flex-shrink: 0;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #DD0F49;
    margin-right: 5px;
  }

  @media screen and(max-width: 1200px) {
    display: none;
  }
}

.found-record__card {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @media screen and(max-width: 1200px) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.card-found__icon {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 15px;

  @media screen and(max-width: 1200px) {
    width: 28px;
    height: 28px;
    margin-right: 6px;
  }
}

.card-found__text {
  margin-right:8px;

  
  @media screen and(max-width: 1200px) {
    display: flex;
  }
}

.card-found__surname  {
  width: 350px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 16px;
  color: #183557;
  margin-bottom: 8px;

  @media screen and(max-width: 1200px) {
    width: 140px;
    font-size: 12px;
  }
}

.card-found__date  {
  display: flex;
  @media screen and(max-width: 1200px) {
   margin-left: 12px;
   align-items: center;
  }
}


.date {
  font-size: 14px;
  line-height: 14px;
  color: #9CB8C2;

  @media screen and(max-width: 1200px) {
    font-size: 10px;
  }
}
.date__icon {
  margin-right: 9px;
}

.card-found__btn {
  flex-shrink: 0;
  @media screen and(max-width: 1200px) {
    width: 100%;
  }
}

.found-record--activ {
  background: #F2F8FF;
}