.searching-results__title {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;

  @media screen and(max-width: 1200px) {
    font-size: 14px;
   }
}

.searching-results__ad {
  background: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  height: 255px;
  padding: 20px;

  @media screen and(max-width: 1200px) {
    padding: 10px;
   }
}

.searching-results__content {
  border: 1px dashed #C5E2F3;
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.searching-results__icon {
  display: block;
  margin-right: 36px;
  z-index: 5;

  @media screen and(max-width: 1200px) {
    width: 26px;
    height: 28px;
    margin-right: 4px;
    margin-left: 15px;
   }
}

.searching-results__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-shadow: 0px 10px 10px #FFFFFF;
  z-index: 5;

  span {
    display: block;
  }

  @media screen and(max-width: 1200px) {
    font-size: 12px;
    line-height: 13px;
    // text-align: center;
   }
}

.searching-results__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  @media screen and(max-width: 1200px) {
    width: 250px;
    top: 120px;
   }
}