.cost__title Номер исполнительного производства
.cost__number №18810168200902034080
.cost__amount
  .cost__pay Сумма к оплате
    span 2 579. 67 руб
  .cost__btn
    a(href="#").btn.btn--small.btn--pink.btn--iconed
      span Оплатить
        img(src="images/icons/post.svg", alt="icon")