.card-data
  .card_data__text-block
    .card-data__name Инициатор
    .card-data__description
      p.card-data__desc УФК по Тамбовской области (УМВД России по Тамбовской области)
  .card_data__text-block
    .card-data__name Место нарушения
    .card-data__description
      p.card-data__desc г. Мичуринск, ул.Тамбовская, р-н дома 203

.card-data__img
  img(src="images/icons/red-arrow.svg", alt="arrow")

.card-data 
  .card_data__text-block
    .card-data__name Транспортное средство
    .card-data__iniciator
      img(src="images/icons/auto.svg", alt="human").card-data__image
      p.card-data__surname Audi A6 Allroad, 2013
        span Свидетельство о регистрации №9900594627
        span Государственный номер T680РХ62 