.form-payment {
  max-width: 1104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: #F1FAFF;

  @media screen and(max-width: 1200px) {
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #D6D7DB;
  }
}

.form-payment__img{
  padding-top: 53px;
  padding-left: 64px;
  img {
    display: block;
    width: 115px;

    @media screen and(max-width: 1200px) {
      width: 64px;
      margin: 0 auto;
    }
  }

  @media screen and(max-width: 1200px) {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.form--payment {
  max-width: 868px;
  margin: 0;
  box-shadow: none;
  padding: 46px 62px 50px 53px;
  border-radius: 0px 6px 6px 0px;

  @media screen and(max-width: 1200px) {
    border: none;
    padding: 0px 11px;
  }
}

.form-payment__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 1200px) {
    flex-direction: column;
  }
}


.form-payment__adv {
  max-width: 364px;
  width: 100%;
  border: 0.5px dashed #183557;
  border-radius: 6px;
  padding: 19px 16px 20px 16px;

  &:not(:last-child) {
    margin-right: 25px;

    @media screen and(max-width: 1200px) {
      margin-right: 0;
    }
  }

  @media screen and(max-width: 1200px) {
    padding: 16px 10px;
  }
}

.form-payment__imgs {
  display: flex;
  img {
    display: block;
    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}

.form-payment__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;

  img {
    display: block;
    width: 47px;
    height: 29px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}