.form-payment {
  margin: 0 auto;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  padding: 10px;

  @media screen and(min-width: 1200px) {
    max-width: 1104px;
    background: #F1FAFF;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid #D6D7DB;
    
  }
}

.form-payment__img{
  padding-top: 53px;
  padding-left: 64px;
  img {
    display: block;
    width: 115px;

    @media screen and(max-width: 1200px) {
      width: 64px;
      margin: 0 auto;
    }
  }

  @media screen and(max-width: 1200px) {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.form--payment {
  width: 100%;
  padding: 0 11px;
  box-shadow: none;
  border: none;
 
  @media screen and(min-width: 1200px) {
    max-width: 868px;
    padding: 46px 62px  50px 53px;
    border-radius: 0px 6px 6px 0px;
    margin: 0;
  }
}

.form-payment__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media screen and(max-width: 1200px) {
    flex-direction: column;
  }
}

.form-payment__adv {
  padding: 16px 10px;
  margin-bottom: 14px;
  width: 100%;
  border: 1px dashed #183557;
  border-radius: 6px;
  

  &:not(:last-child) {
    margin-right: 25px;

    @media screen and(max-width: 1200px) {
      margin-right: 0; 
    }
  }

  @media screen and(min-width: 1200px) {
    max-width: 364px;
    padding: 19px 16px 20px 16px;
  }
}

.form-payment__phone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 76px;

  @media screen and(max-width: 1200px) {
    height: 61px;
  }
}

.field--payment {
  flex-shrink: 0;
  &:not(:last-child) {
    margin-bottom: 0;
  } 
}

.form-payment__imgs {
  display: flex;
  margin-left: 6px;
  flex-shrink: 0;
  img {
    display: block;
    width: 47px;
    height: 29px;
    &:not(:last-child) {
      margin-right: 6px;
    }
    @media screen and(max-width: 1200px) {
      width: 30px;
      height: 20px;
    }
  }
}

.form-payment__icons {
  display: flex;
  justify-content: center;
  height: 76px;
  align-items: center;
  margin-bottom: 10px;
  
  img {
    display: block;
    width: 47px;
    height: 29px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and(max-width: 1200px) {
    height: 61px;
  }
}

.checkbox__text--payment {
  margin-top: 22px;
  @media screen and(max-width: 1200px) {
    margin-top: 13px;
  }
}