form.form

  .form__info
    img(src="images/icons/author.svg", alt="author").form__icon
    h1.form__title Авторизация
    .form__fields
      .field
        label.label Email или номер телефона
        input(type="text" ).input
        span.message Обязательное поле
      .field
        label.label Пароль
        input(type="text" ).input
        pan.message Обязательное поле
    
    .form__control
      label.form__label
        .form__checkbox
          input(type="checkbox")
          div
        | Запомнить меня 
    .btn__button
      a(href="#").btn.btn--big.btn--green
        span Войти

  .form__bottom     
    .form__gup

    .form__caption Вы впервые на сайте?
    a(href="").form__reg Зарегистрироваться сейчас