form.form
  img(src="images/icons/human.svg", alt="human").form__icon
  h1.form__title Регистрация
  p.form__desc Введите ваш номер мобильного телефона, на него будет отправлена смс с паролем.
  .form__fields
    .field
      label.label Номер телефона
      input(type="text" placeholder="Название организации").input
      span.message Обязательное поле
  

  .btn__button
    a(href="#").btn.btn--big.btn--green
      span Зарегистрироваться

  .form__control
    label.form__label
      .form__checkbox
        input(type="checkbox")
        div
      | Согласен с правилами обработки персональных данных и правилами пользования сервисом.

  .form__gup
  .form__caption У вас есть аккаунт на сайте? 
    a(href="") Войти