form.form
  img(src="images/icons/confirm.svg", alt="forgot").form__icon
  h1.form__title Подтверждение
  p.form__desc На ваш номер телефона отправлен проверочный код, введите его для продолжения
  .form__fields
    .field
      label.label Введите код доступа
      input(type="text" placeholder="Название организации").input
      span.message Обязательное поле
    

  .btn__button
    a(href="#").btn.btn--big.btn--green
      span Войти на сайт