form.form
  a(href="#").popup__close
  .form__info
    img(src="images/icons/payment.svg", alt="payment").form__icon
    h1.form__title Оформите Премиум доступ
    p.form__desc Данная функция доступна пользователям с Премиум доступом
    .btn__button
      a(href="#").btn.btn--big.btn--green
        span Оформить Премиум