form.form
  .form__info
    img(src="images/icons/search.svg", alt="search").form__icon
    p.form__desc Поиск задолжностей по номеру исполнительного производства
    .form__fields
      .field
        label.label Введите номер ИП
        input(type="text").input
        span.message Обязательное поле
    

    .btn__button
      a(href="#").btn.btn--big.btn--green
        span Продолжить


    .form__pagination
        .circle-paginator
          .circle-paginator__item.circle-paginator__item--active
          .circle-paginator__item.circle-paginator__item--active
          .circle-paginator__item