form.form.form--unsubscribe
  .form__info.form__info--unsubscribe
    img(src="images/icons/forgot.svg", alt="forgot").form__icon
    h1.form__title  Отмена Премиума
    p.form__desc.form__desc--pink Отменить неограниченный доступ ко всем сервисам

  .form__clarification
    p.form__desc.form__desc--unsubscribe   Если Вы желаете прекратить действия премиум доступа для своего аккаунта, введите номер своего телефона и нажмите “Отказаться”
    
  .form__info.form__info--unsubscribe  
    .form__fields
      .field
        label.label Номер телефона
        input(type="text" placeholder="Название организации").input
        span.message Обязательное поле
    
    .btn__button
      a(href="#").btn.btn--big.btn--pink
        span Отказаться