.found-record
  img(src="images/icons/note.svg", alt="note").found-record__icon
  .found-record__name  ФССП
  .found-record__amounts 
    .found-record__amount Сумма задолженности: 
      span 2 579. 67 руб
    .found-record__amount Исполнительный сбор:
      span 2 632. 23 руб
  .found-record__text Актуально
  .found-record__card
    img(src="images/dash/auto.svg", alt="auto").card-found__icon
    .card-found__text
      .card-found__surname Красильников Вениамин Станиславович
      .card-found__date 
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 06.09.2020
    .card-found__btn
      a(href="#").btn.btn--small.btn--pink.btn--iconed
        span Оплатить
          img(src="images/icons/post.svg", alt="icon")