* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy'; 
}

.auth-page {
  background: url(~img/bg/regbg.jpg);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 840px;
}

.content {
  min-height: calc(100vh - 125px - 466px);
}

.content--auth {
  padding: 40px 0 100px;
  min-height: calc(100vh - 125px - 466px);

  @media screen and(max-width: 1200px) {
    padding: 20px 0;
    min-height: unset;
  }
}

.container {
  max-width: 1640px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and(max-width: 1000px) {
    padding-left: 21px;
    padding-right: 21px;
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
