* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
}

.content {
  min-height: calc(100vh - 40px - 40px);
  // min-height = calc(display height - header height - footer height) 
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}