* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy'; 
}

.bg-gray {
  background: #F4F5F9;
}

.auth-page {
  background: url(~img/bg/regbg.jpg);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 840px;
}

// TODO refactor
.content {
  padding: 40px 0 100px;
  min-height: calc(100vh - 105px - 466px);

  @media screen and(max-width: 1200px) {
    padding: 20px 0;
    min-height: unset;
  }
}

.content--main {
  padding: 0 0 140px;

  @media screen and(max-width: 1200px) {
    padding: 0 0 20px;
  }
}

// TODO refactor
.content--auth {
  padding: 40px 0 100px;
  min-height: calc(100vh - 125px - 466px);

  @media screen and(max-width: 1200px) {
    padding: 20px 0;
    min-height: unset;
  }
}

.container {
  max-width: 1640px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and(max-width: 1000px) {
    // padding-left: 21px;
    // padding-right: 21px;

    padding-left: 10px;
    padding-right: 10px;
  }
}


a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.content-block {
  display: flex;
  width: 100%;
  margin-top: 14px;

  @media screen and(max-width: 1200px) {
    flex-wrap: wrap;
   }  
}

.sidebar__content {
  margin-right: 10px;
  flex-shrink: 0;
  max-width: 360px;
  width: 100%;

  @media screen and(max-width: 1200px) {
    margin-bottom: 8px;
   }
}

.info {
  @media screen and(max-width: 1200px) {
    width: 100%;
   } 

}

.sidebar {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

