form.form
  a(href="#").popup__close
  .form__info
    img(src="images/icons/human.svg", alt="human").form__icon
    .form__radio  
      input(type="radio" name="1" id="1").input
      label(for="1") Физическое лицо
      input(type="radio" name="1" id="2" checked).input
      label(for="2") Юридическое лицо
   
    .form__fields
      .field
        label.label Фамилия
        input(type="text" ).input
        span.message Обязательное поле
      .field
        label.label Имя
        input(type="text" ).input
        span.message Обязательное поле
      
      .field
        label.label Отчество
        input(type="text" ).input
        span.message Обязательное поле


      .field
        label.label Дата рождения
        .field__selects
          select.input.input--selects
            option(value="01") День
            option(value="01") 01
            option(value="02") 02
            option(value="03") 03
          select.input.input--selects.input--month
            option(value="01") Месяц
            option(value="01") январь
            option(value="02") февраль
            option(value="03") март
          select.input.input--selects
            option(value="01") Год
            option(value="01") 1960
            option(value="02") 1980
            option(value="03") 1990
        span.message Обязательное поле
  

    .btn__buttons
      a(href="#").btn.btn--big.btn--green
        span Сохранить
      a(href="#").btn.btn--big.btn--gray
        span Отмена
