form.form
  a(href="#").popup__close
  .form__info
    img(src="images/icons/inn.svg", alt="inn").form__icon
   
    .form__fields
      .field
        label.label Имя
        input(type="text" ).input
        span.message Обязательное поле
      .field
        label.label Идентификационный номер налогоплательщика (ИНН)*
        input(type="text" ).input
        span.message Обязательное поле
         
    .btn__buttons
      a(href="#").btn.btn--big.btn--green
        span Сохранить
      a(href="#").btn.btn--big.btn--gray
        span Отмена