.alert {
  position: absolute;
  width: 95%;
  padding: 15px 30px 15px 15px;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  @media screen and(min-width: 1200px) {
    width: unset;
    top: 115px;
    right: 175px;
    left: unset;
    transform: unset;
    max-width: 566px;
    padding: 30px 70px;
  }
}

.alert--success {
  border: 1px solid #136B9F;
  background: #C2F0FF;
  color: #136B9F;
}

.alert--warning {
  background: #FF7676;
  border: 1px solid #DF1E54;
  color: #FFFFFF;
}

.alert__text {
  font-weight: 600;
  font-size: 16px;

  @media screen and(min-width: 1200px) {
    font-size: 18px;
  }
}

.alert-close {
  position: absolute;
  top: 13px;
  right: 13px;
}