.alert {
  position: absolute;
  width: 80%;
  height: 80px;
  top: 50px;
  right: 8px;

  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  @media screen and(min-width: 1201px) {
    right: 150px;
    max-width: 566px;
    top: 115px;
  }
}

.alert--success {
  border: 1px solid #136B9F;
  background: #C2F0FF;
  color: #136B9F;
}

.alert--warning {
  background: #FF7676;
  border: 1px solid #DF1E54;
  color: #FFFFFF;
}

.alert__text {
  padding-top:29px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;

  @media screen and(min-width: 1201px) {
    font-weight: 600;
    font-size: 18px;
  }
}

.alert-close {
  position: absolute;
  top: 13px;
  right: 13px;
}