.main
  include ../../models/main/main-top
  include ../../models/main/main-servises
  include ../../models/main/main-advantage
  include ../../models/main/service-works
  include ../../models/main/attention
  include ../../models/main/responsibility