.burger
  
  .burger__open
    img(src="images/icons/burger-open.svg", alt="open-menu")
  
  .burger__content.burger__content--close
    .burger__close
      img(src="images/icons/burger-close.svg", alt="close-menu")
    include ../../models/burger-menu/burger-in-premium