.footer-contacts
  .footer-contacts__title Телефон службы поддержки
  .footer-contacts__value.footer-contacts__value--phone 8-499-113-24-88
  a(href="mailto:info@shtrafoff.net").footer-contacts__value.footer-contacts__value--email info@shtrafoff.net
