.footer-menu
  .footer-menu__list
    ul.footer-menu-list
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Способы оплаты
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Тарифы
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Правила оказания услуг

  .footer-menu-menu__list
    ul.footer-menu-list
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Правила обработки персональных данных
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Служба поддержки
      li.footer-menu-list__item
        a(href="#").footer-menu-list__link Отмена премиума