.card-data
  .card-data__name Инициатор
  .card-data__description
    p.card-data__desc Шелков М.В. +7(915)045-67-55
    p.card-data__desc УФК по Московской области (Домодедовский Городской РОСП УФССП России по Московской области, Л/С 05481A21900)
.card-data__img
  img(src="images/icons/red-arrow.svg", alt="arrow")

.card-data  
  .card-data__name Физ. лицо
  .card-data__iniciator
    img(src="images/icons/human-ellips.svg", alt="human").card-data__image
    p.card-data__surname Красильников Вениамин Станиславович 
      span 22.03.1982, Россия, Московская область