.footer-bottom
  .container
    .footer-bottom__content
      .footer-bottom__license
        .license © 2020 Все права защищены. ООО VIVA
      .footer-bottom__store
        include ../../models/footer/store
