.footer-top
  .container
    .footer-top__content

      .footer-top__name
        .footer-top__logo
          include ../../models/logo
        .footer-top__text
          include ../../models/footer/text-name

      .footer-top__info
        .footer-top__menu
          include ../../models/footer/menu
        .footer-top__contacts
          include ../../models/footer/contacts
