.attention {
  position: relative;
}

.attention__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:-1;
  object-fit: cover;
  object-position: top;
}

.attention__content {
  padding-top: 135px;
  padding-bottom: 123px;

  @media screen and(max-width: 1200px) {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}

.attention__info {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 53px 39px 53px 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 1200px) {
    padding: 18px 12px 15px;
    flex-wrap: wrap;
  }
}

.attention__icon {
  display: block;
  width: 87px;
  height: 76px;
  flex-shrink: 0;

  @media screen and(max-width: 1200px) {
    width: 30px;
    height: 28px;
    margin: 0 auto;
  }
}

.attention__text {
  max-width: 1041px;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
  // line-height: 34px;

  @media screen and(max-width: 1200px) {
    font-size: 14px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
  }
}

.attention__btn {
  flex-shrink: 0;
  max-width: 286px;
  width: 100%;
  @media screen and(max-width: 1200px) {
   margin: 0 auto;
  }
}