.feature-card {
  max-width: 788px;
  width: 100%;
  background: #F4F5F9;
  border-radius: 0px 5px 5px 0px;
  padding: 93px 110px 87px;
}

.feature-card__title {
  display: flex;
  align-items: center;
  margin-bottom: 66px;
}

.feature-card__img {
  display: block;
  margin-right: 88px;
}

.feature-card__name {
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
}

.feature-card__text {
  font-size: 18px;
}

.feature-card__desk {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}