.main-advantage {
  background: #fff;
  padding-top: 13px;
  padding-bottom: 32px;

  @media screen and(min-width: 1200px) {
    padding-top: 76px;
    padding-bottom: 92px;
  }
}

.main-advantage__content {
  
  @media screen and(min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-advantage__items {
  width: 100%;

  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
    
    @media screen and(min-width: 1200px) {
      margin-bottom: 57px;
    }
  } 
}

.main-advantage__item {
  display: flex;
  width: 100%;

  @media screen and(min-width: 1200px) {
    width: 50%;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
    
    @media screen and(min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.main-advantage__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 9px;
  object-fit: contain;

  @media screen and(min-width: 1200px) {
    width: 100px;
    height: 100px;
    margin-right: 16px;
  }
}

.main-advantage__name {
  color: #136B9F;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;

  @media screen and(min-width: 1200px) {
    color: unset;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 18px;
  }
}

.main-advantage__desc {
  width: 100%;
  font-size: 14px;
  color: #808080;

  @media screen and(min-width: 1200px) {
    max-width: 480px;
    font-size: 22px;
  }
}

.main-advantage__cards {
  display: block;
  margin-top: 13px;
  width: 100%;

  @media screen and(min-width: 1200px) {
    margin-top: 20px;
  } 
}
