.responsibility-card {
  width: 100%;
  background: #FFFFFF;

  @media screen and(min-width: 1200px) {
    width: 48.5%;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, .25);
    border-radius: 5px;
  }
}
  

.responsibility-card__top {
  background: #F4F5F9;
  border-radius: 5px 5px 0px 0px;
  padding: 12px 10px;
  display: flex;
  align-items: center;

  @media screen and(min-width: 1200px) {
    padding: 17px 48px;
  }
}

.responsibility-card__img {
  display: block;
  object-fit: contain;
  margin-right: 10px;
  width: 40px;
  height: 40px;

  @media screen and(min-width: 1200px) {
    margin-right: 35px;
    width: 72px;
    height: 72px;
  }
}

// TODO max => min-width
.responsibility-card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  @media screen and(max-width: 1200px) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

.responsibility-card__bottom {
  padding: 34px 65px 74px 48px;

  @media screen and(max-width: 1200px) {
    padding: 10px 16px 28px;
  }
}

.responsibility-card__desc {
  margin-bottom: 46px;
  @media screen and(max-width: 1200px) {
    margin-bottom: 8px;
  }
}

.responsibility-card__text {
  font-size: 18px;
  line-height: 24px;
  color: #272E32;

  &:not(:last-child) {
    margin-bottom: 24px;
    @media screen and(max-width: 1200px) {
      margin-bottom: 12px;
    }
  }

  @media screen and(max-width: 1200px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.responsibility-card__item  {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 20px;
  color: #136B9F;

  &:not(:last-child) {
    margin-bottom: 25px;

    @media screen and(max-width: 1200px) {
      margin-bottom: 10px;
    }
  }

  &::before {
    flex-shrink: 0;
    content: "";
    background-image: url(../../images/icons/responsibility.svg);
    width: 27px;
    height: 27px;
    margin-right: 15px;

    @media screen and(max-width: 1200px) {
      margin-right: 11px;
    }
  }

  @media screen and(max-width: 1200px) {
    font-size: 12px;
    line-height: 15px;
  }
}