.top {
  display: flex;
  align-items: center;

  @media screen and(max-width: 1200px) {
    flex-wrap: wrap;
   }
}

.top__icons {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 25px;

  @media screen and(max-width: 1200px) {
    width: 32px;
    height: 32px;
    margin-right: 8px;
   }
}

.top__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #183557;

  
  @media screen and(max-width: 1200px) {
    font-size: 14px;
    font-weight: 600;
   }
}