.dash
  .container
   
    .dash__content
      .dash__sidebar
        include ../../models/dash/sidebar-card

      .dash__info
        .dash__cards
          include ../../models/dash/dash-card_vehicles
          include ../../models/dash/dash-card_tex-debts
          include ../../models/dash/dash-card_drivers
          include ../../models/dash/dash-card_individuals
          include ../../models/dash/dash-card_legal
        .dash__title Найденные записи
        .dash__found-records
          .found-record.found-record--activ
            include ../../models/dash/found-record
          .found-record
            include ../../models/dash/found-record
          .found-record
            include ../../models/dash/found-record
          .found-record.found-record--activ
            include ../../models/dash/found-record