.dash
  .container
    .content-block 
      .sidebar__content
        .sidebar
          include ../../models/sidebar/sidebar-card
        .sidebar
          include ../../models/sidebar/calendar

      .info
        .dash__cards
          include ../../models/dash/dash-card_vehicles
          include ../../models/dash/dash-card_tex-debts
          include ../../models/dash/dash-card_tex-debts
          include ../../models/dash/dash-card_drivers
          include ../../models/dash/dash-card_individuals
          include ../../models/dash/dash-card_legal   