.burger-menu
  
  .burger-menu__top
    a(href="#").burger-menu__item
      img(src="images/icons/icon-reg.svg", alt="icon")
      span Регистрация
  
  .burger-menu__content
    
    include ./mobile-menu-out

    a(href="#").burger-menu__item
      img(src="images/icons/icon-login.svg", alt="icon")
      span Вход
