.burger-menu
  
  .burger-menu__top
    .burger-menu__item
      img(src="images/icons/area.svg", alt="icon")
      span User-Login
  
  .burger-menu__content
    
    include ./mobile-menu-in

    a(href="#").burger-menu__item
      img(src="images/icons/exit.svg", alt="icon")
      span Выйти

    .burger-menu__btn
      .btn.btn--middle.btn--white.btn--iconed
        img(src="images/icons/brilliant-red.svg", alt="icon")
        span Премиум Активирован