.mobile-menu
  a(href="#").mobile-menu__item
    img(src="images/icons/support.svg", alt="icon")
    span Служба поддержки
  a(href="#").mobile-menu__item
    img(src="images/icons/payment-menu.svg", alt="icon")
    span Способы оплаты
  a(href="#").mobile-menu__item
    img(src="images/icons/rules.svg", alt="icon")
    span Правила оказания услуг
