header.header
  .container
    .header__content.header__content--auth

      .header__logo
        include ../../models/logo
     
      .header__links
        include ../../models/auth/login

      .header__burger
        include ../burger-menu/burger-menu-out
