header.header.header--white.header--shadowed
  .container
    .header__content.header__content--area

      .header__logo
        include ../../models/logo
     
      .header__btn
        a(href="#").btn.btn--middle.btn--pink.btn--iconed
          img(src="images/icons/brilliant.svg", alt="icon")
          span Активировать Премиум

      .header__login
        include ../../models/user-info

      .header__links
        include ../../models/auth/in
