header.header.header--shadowed
  .container
    .header__content

      .header__logo
        include ../../models/logo

      .header__nav
        include ../../models/nav
        
      .header__links
        include ../../models/auth/out

      .header__burger
        include ../burger-menu/burger-menu-out