.objects-card
  .container
    .content-block 
      .sidebar
        include ../../models/dash/sidebar-card

      .info
        include ../../models/objects-card/gbdd-card
        include ../../models/objects-card/gbdd-card
        include ../../models/objects-card/gbdd-card