.objects-card
  .container
    .content-block 
      .sidebar__content
        .sidebar
          include ../../models/sidebar/sidebar-card
        .sidebar
          include ../../models/sidebar/calendar

      .info__content
        include ../../models/objects-card/fssp-card
        include ../../models/objects-card/fssp-card
        include ../../models/objects-card/fssp-card