.footer-top {
  padding: 68px 0px 88px 0;
  background: #F4F5F9;

  @media screen and(max-width: 1200px) {
    padding: 14px 0px 17px 0;
  }
}


.footer-top__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.footer-top__logo {
  margin-bottom: 93px;
  width: 187px;

  @media screen and(max-width: 1200px) {
    width: 127px;
    margin-bottom: 18px;
  }
}

.footer-top__name {
  @media screen and(max-width: 1200px) {
    margin-bottom: 14px;
    width: 100%;
  }
}

.footer-top__info {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}


.footer-top__menu {
  margin-right: 88px;


  @media screen and(max-width: 1200px) {
    margin-right: 10px;
  }
}

.footer-top__contacts {
  flex-shrink: 0;

  @media screen and(max-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}