.store {
  display: flex;
}

.store__img {
  display: block;
  height: 40px;

  &--google {
    width: 135px;
    @media screen and(max-width: 1200px) {
      width: 72px;
    }
  }

  &--store {
    width: 118px;
    @media screen and(max-width: 1200px) {
      width: 63px;
    }
  }

  &:not(:last-child) {
    margin-right: 10px;

    @media screen and(max-width: 1200px) {
      margin-right: 5px;
    }
  }

  @media screen and(max-width: 1200px) {
   height: 21px;
  }
}