.error
  .error__content
    .error__name 
      .error__text ошибка
      .error__img
        img(src="images/error/404.png", alt="")
    p.error__desc Извините, но у нас возникли проблемы с поиском страницы, которую Вы запрашиваете
    .error__btn
      a(href="#").btn.btn--big.btn--pink
        span Вернуться на главную страницу