.error
  .error__content
    .error__name 
      .error__text ошибка
      .error__img
        img(src="images/error/500.png", alt="")
    p.error__desc Извините, возникла внутренняя ошибка сервера
    .error__btn
      a(href="#").btn.btn--big.btn--pink
        span Вернуться на главную страницу