.error
  .error__content
    p.error__desc.error__desc--not-work Извините, на сайте ведутся технические работы
      span Пожалуйста, возвращайтесь к нам позже
    .error__img.error__img--not-work
      img(src="images/error/engineering-works.svg", alt="")
    