doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index.pug
    meta(name="description", content="description")
    link(rel="shortcut icon", href="static/favicon.ico", type="image/x-icon")

body
  main.content
    //- //- include your pug here
    //- a(href='btn.html') btn<br>
    //- a(href='form.html') form<br>
    //- a(href='header-head.html') header-head<br>
    //- a(href='footer.html') footer<br>
    a(href='main.html') main<br>
    a(href='dash.html') dash<br>
    a(href='dash-congrat.html') dash-congrat<br>
    a(href='fssp-objects.html') fssp-objects<br>
    a(href='fssp.html') fssp<br>
    a(href='gbdd.html') gbdd<br>

    //- popup
    a(href='premum-popup.html') premum-popup<br>
    a(href='ip-search.html') ip-search<br>
    a(href='successful-popup.html') successful-popup<br>
    a(href='add-popup1.html') add-popup1<br>
    a(href='add-popup2.html') add-popup2<br>
    a(href='add-popup3.html') add-popup3<br>
    a(href='add-popup4.html') add-popup4<br>
    a(href='add-popup5.html') add-popup5<br>
    a(href='user-inform.html') user-inform<br>
    a(href='search-result-fssp.html') search-result-fssp<br>
    a(href='search-result-gbdd.html') search-result-gbdd<br>
    

    //- form
    a(href='authorization.html') authorization<br>
    a(href='reg1.html') reg1<br>
    a(href='reg2.html') reg2<br>
    a(href='forgot.html') forgot<br>
    a(href='auth-service.html') auth-service<br>
    a(href='confirm.html') confirm<br>
    a(href='payment.html') payment<br>
    a(href='unsubscribe.html') unsubscribe<br>
    a(href='search.html') search<br>
    a(href='successful.html') successful<br>
    a(href='settings.html') settings<br>


    //- ///error
    a(href='404.html') 404<br>
    a(href='500.html') 500<br>
    a(href='engineering-works.html') engineering-works<br>


    //- ///
    a(href='alert-success.html') alert-success<br>
    a(href='alert-warning.html') alert-warning<br>
