doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title shtraffov.net
    meta(name="description", content="description")
    link(rel="shortcut icon", href="static/favicon.ico", type="image/x-icon")

body.body.auth-page
 
  include ../views/header/header-auth_enter
  main.content--auth
    .container
      include ../models/auth/form-reg2

  footer.footer--light
    include ../views/footer/footer-top
    include ../views/footer/footer-bottom