doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index.pug
    meta(name="description", content="description")
    link(rel="shortcut icon", href="static/favicon.ico", type="image/x-icon")

body.body
 
  include ../views/header/header-auth_reg
  
  
  main.content.content--auth
    //- include your pug here
    .form__author
      .container
        include ../models/auth/successful
footer
  include ../views/footer/footer-top
  include ../views/footer/footer-bottom