.attention
  img(src="images/bg/main-bg.jpg", alt="bg").attention__bg
  .container
    .attention__content
      .attention__info
        img(src="images/icons/attention.svg", alt="attention").attention__icon
        .attention__text Старайтесь максимально вовремя оплачивать долги. Своевременное погашение задолженностей и штрафов сбережет ваши нервы и, как ни странно, сохранит часть ваших средств.
        .attention__btn
          a(href="#").btn.btn--big.btn--pink
            span Проверить сейчас