.feature-card
  .feature-card__title
    img(src="images/icons/speaker.svg", alt="speaker").feature-card__img
    .feature-card__name У вас всё под контролем
  .feature-card__text
    p.feature-card__desk Информационный портал shtrafoff.net позволяет получать жителям России информацию об имеющихся долгах перед различными государственными органами. 
    p.feature-card__desk Мониторинг изменений осуществляется на ежедневной основе!
