.main-servises
  .container
    .main-servises__cards
      .main-servises__card
        .main-servises__name
          img(src="images/main/fss.jpg", alt="fss").main-servises__icon
          h3.main-servises__title Мониторинг по базе Федеральной Службы Судебных Приставов
        .main-servises__gup
        p.main-servises__desc Отслеживаем наличие открытых исполнительных производств в отношении физических и юридических лиц
      .main-servises__card
        .main-servises__name
          img(src="images/main/gbdd.jpg", alt="gbdd").main-servises__icon
          h3.main-servises__title Поиск по базе ГИБДД штрафов и ограничений
        .main-servises__gup
        p.main-servises__desc Отслеживание штрафов ГИБДД. Проверяем наличие не оплаченных штрафов ГИБДД
      .main-servises__card
        .main-servises__name
          img(src="images/main/fns.jpg", alt="fns").main-servises__icon
          h3.main-servises__title Поиск по базе ФНС для физических и юридических лиц
        .main-servises__gup
        p.main-servises__desc Следим за неоплаченными налогами по базе Федерально Налоговой Службы. Информируем о всех видах неоплаченных налоговых платежей