.main-top
  .container
    .main-top__text
      h1.main-top__title Сервис регулярного мониторинга <br> за долгами и штрафами
      p.main-top__desc Автоматическая проверка новых задолженностей в базе Судебных Приставов, штрафов ГИБДД, 
        |задолженностей по оплате налогов в базе ФНС
    .main-top__btns
      a(href="#").btn.btn--big.btn--white.btn--main-top
        span Как работает сервис
      a(href="#").btn.btn--big.btn--pink.btn--main-top
        span Зарегистрироваться
