.main-advantage
  .container
    h4.main__title Преимущества сервиса
    .main-advantage__content

      .main-advantage__items
        .main-advantage__item
          img(src="images/main/search.svg", alt="search").main-advantage__icon
          .main-advantage__text
            h6.main-advantage__name Поиск штрафов и долгов
            p.main-advantage__desc Поиск осуществляется по базам данных Судебных приставов, ГИБДД, Налоговой службы
        .main-advantage__item
          img(src="images/main/notification.svg", alt="notification").main-advantage__icon
          .main-advantage__text
            h6.main-advantage__name Уведомления о штрафах и задолженностях
            p.main-advantage__desc Мы пришлем уведомление при обнаружении нового штрафа или задолженности
      
      .main-advantage__items
      
        .main-advantage__item
          img(src="images/main/monitoring.svg", alt="monitoring").main-advantage__icon
          .main-advantage__text
            h6.main-advantage__name Система мониторинга новых штрафов и долгов
            p.main-advantage__desc Мы проверяем наличие новых штрафов или долгов по всем вашим объектам
        .main-advantage__item
          img(src="images/main/payment.svg", alt="payment").main-advantage__icon
          .main-advantage__text
            h6.main-advantage__name Быстрая оплата онлайн
            p.main-advantage__desc Оплата долгов и штрафов картой любого банка
            img(src="images/main/payment-card.jpg", alt="payment-card").main-advantage__cards

