.main-advantage
  .container
    h4.main-advantage__title Преимущества сервиса
    .main-advantage__content
      .main-advantage__item
        img(src="images/main/search.svg", alt="").main-advantage__icon
        .main-advantage__text
          h6.main-advantage__name Поиск штрафов и долгов
          p.main-advantage__desc Поиск осуществляется по базам данных Судебных приставов, ГИБДД, Налоговой службы

