.responsibility-card
  .responsibility-card__top
    img(src="images/icons/gbdd.png", alt="gbdd").responsibility-card__img
    h5.responsibility-card__title Государственная Инспекиця Безопасности Дорожного Движения
  .responsibility-card__bottom
    .responsibility-card__desc
      p.responsibility-card__text Срок уплаты штрафов – 60 дней с момента вступления вынесенного решения в законную силу. На обжалование даётся 10-дневный срок.
        |Основное условие - нужно совершить платеж не позднее 20 дней с даты вынесения постановления

      p.responsibility-card__text За неуплату штрафа грозит одно из 3 наказаний:
    ul.responsibility-card__list
      li.responsibility-card__item Дополнительный административный штраф в 2-кратном размере. Минимальный размер такого штрафа – 1000 рублей
      li.responsibility-card__item Административный арест (до 15 суток). В последнее время злостных неплательщиков штрафов всё чаще отправляют в изоляторы временного содержания.
      li.responsibility-card__item Обязательные работы (не более 50 часов). Закон обязывает неплательщика трудиться дополнительные 2 ч в рабочее время и 4 ч в выходные дни. Общее количество трудовых часов в неделю не должно превышать 12 часов. Работы выполняются после рабочего дня, учёбы на очном отделении и т.д.