.responsibility
  .container
    h4.main__title Ответственность за неуплату
    .responsibility__cards
      include ../../models/main/responsibility__card-fss
      include ../../models/main/responsibility__card-gbdd
    .responsibility__feature
      img(src="images/responsibility/phone-img.jpg", alt="").responsibility__img
      include ../../models/main/feature-card