.responsibility-card
  .responsibility-card__top
    img(src="images/icons/fsp.png", alt="").responsibility-card__img
    h5.responsibility-card__title Федеральная Служба Судебных Приставов
  .responsibility-card__bottom
    .responsibility-card__desc
      p.responsibility-card__text При неуплате установленных судом задолженностей на имущество, денежные средства и иные ценности, находящиеся на счетах и вкладах должника, может быть наложен арест.
      p.responsibility-card__text В ряде случаев должник также может подвергнуться уголовному преследованию (максимальное наказание — <b>3 года лишения свободы </b>). Уголовная ответственность предусмотрена за следующие действия:
    ul.responsibility-card__list
      li.responsibility-card__item Неуплата средств на содержание детей или нетрудоспособных родителей,
      li.responsibility-card__item Злостное уклонение от погашения кредиторской задолженности,
      li.responsibility-card__item Незаконные действия в отношении имущества, подвергнутого описи или аресту либо подлежащего конфискации,
      li.responsibility-card__item Неисполнение приговора суда, решения суда или другого судебного акта.