.service-works
  .container
    h4.main__title Как работает сервис
    .service-works__content

      .service-works__card
        .service-works__icons
          .service-works__number 1
          img(src="images/service-works/register.svg", alt="register").service-works__icon
        .service-works__text
          h4.service-works__title Зарегистрируйтесь на портале
          p.service-works__desc Пройдите быструю регистрацию с помощью мобильного телефона
      
      .service-works__card
        .service-works__icons
          .service-works__number 2
          img(src="images/service-works/add.svg", alt="add").service-works__icon
        .service-works__text
          h4.service-works__title Добавьте объекты
          p.service-works__desc Укажите данные объектов, по которым будет осуществляться проверка штрафов и долгов. (Данные физических лиц, Организаций, Автомобилей, ИНН, ВУ)”
      
      .service-works__card
        .service-works__icons
          .service-works__number 3
          img(src="images/service-works/debts.svg", alt="debts").service-works__icon
        .service-works__text
          h4.service-works__title Получите информацию о долгах
          p.service-works__desc После окончания проверки в вашем личном кабинете отобразится вся информация о существующих задолженностях по каждому вашему объекту
    
      .service-works__card
        .service-works__icons
          .service-works__number 4
          img(src="images/service-works/credit.svg", alt="credit").service-works__icon
        .service-works__text
          h4.service-works__title Оплатите задолженности
          p.service-works__desc Вы можете оплатить существующие задолженности прямо из личного кабинета картой любого банка либо распечатать бумажную квитанцию
      
      .service-works__card
        .service-works__icons
          .service-works__number 5
          img(src="images/service-works/set-up.svg", alt="set-up").service-works__icon
        .service-works__text
          h4.service-works__title Настройте уведомления
          p.service-works__desc Добавьте в личном кабинете адрес электронной почты и выберите желаемую периодичность уведомлений
      
      .service-works__card
        .service-works__icons
          .service-works__number 6
          img(src="images/service-works/notifications-debts.svg", alt="notifications-debts").service-works__icon
        .service-works__text
          h4.service-works__title Получайте уведомления о долгах
          p.service-works__desc При появлении нового долга система отправит уведомление на ваш электронный адрес