.context-menu
  a(href="#").context-menu__content
    img(src="images/icons/editor.svg", alt="context-menu").context-menu__icon
    .context-menu__text Редактировать
  a(href="#").context-menu__content
    img(src="images/icons/delete.svg", alt="delete").context-menu__icon
    .context-menu__text Удалить