.debts
  .debts__info
    img(src="images/icons/human-ellips.svg", alt="").debts__icon
    .debts__content
      .debts__name 
        span Красильников 
        span Вениамин Станиславович
      .debts__date
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 09.09.2020  07:38
    .debts__number 3
    .debts__controls
      .debts__circles
        .debts__circle
        .debts__circle
        .debts__circle
      include ./context-menu

  .debts__info
    img(src="images/icons/human-ellips.svg", alt="").debts__icon
    .debts__content
      .debts__name 
        span Сомов
        span Арсений Эдуардович
      .debts__date
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 09.09.2020  07:38
    .debts__number 1
    .debts__controls
      .debts__circles
        .debts__circle
        .debts__circle
        .debts__circle
      include ./context-menu