.debts
  .debts__info
    img(src="images/icons/auto-whitet.svg", alt="").debts__icon
    .debts__content
      .debts__name Mercedes GL
      .debts__date
        .debts__auto-number T680РХ62
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 09.09.2020  07:38
    .debts__number 3
    .debts__controls
      .debts__circles
        .debts__circle
        .debts__circle
        .debts__circle
      include ./context-menu


  .debts__info
    img(src="images/icons//auto-whitet.svg", alt="").debts__icon
    .debts__content
      .debts__name Lamborghini Murcielago
      .debts__date
        .debts__auto-number T680РХ62
        img(src="images/icons/calendar.svg", alt="calendar").date__icon
        .date 09.09.2020  07:38
    .debts__number 3
    .debts__controls
      .debts__circles
        .debts__circle
        .debts__circle
        .debts__circle
      include ./context-menu