.editor
  a(href="#").editor__content
    img(src="images/icons/editor.svg", alt="editor").editor__icon
    .editor__text Редактировать
  a(href="#").editor__content
    img(src="images/icons/delete.svg", alt="delete").editor__icon
    .editor__text Удалить