.month-picker 
  button.month-picker__prev 
    img(src="images/sidebar/picker.svg", alt="picker")
  .month-picker__current Октябрь
  button.month-picker__next 
    img(src="images/sidebar/picker.svg", alt="picker")