.sedebar-card 
  .sedebar-card__top
    label.sedebar-card__label 
      input(type="checkbox")
      .checkbox 
      |Мониторинг долгов 
  ul.sedebar-card__list

    .sedebar-card__content.sedebar-card__content--activ
      li.sedebar-card__item
        img(src="images/sidebar/review.svg", alt="review").sedebar-card__review
        img(src="images/sidebar/review-activ.svg", alt="review").sedebar-card__review-activ
        a(href="#").sedebar-card__link Обзор

    .sedebar-card__content
      li.sedebar-card__item
        img(src="images/sidebar/fssp.png", alt="fssp").sedebar-card__img
        a(href="#").sedebar-card__link Долги по базе ФССП
        .sedebar-card__add +
      .sedebar-card__debts
        include ./debts-fssp

    .sedebar-card__content
      li.sedebar-card__item
        img(src="images/sidebar/gbdd.png", alt="gbdd").sedebar-card__img
        a(href="#").sedebar-card__link Штрафы ГИБДД
        .sedebar-card__add +
      .sedebar-card__debts
        include ./debts-gbdd

    .sedebar-card__content
      li.sedebar-card__item
        img(src="images/sidebar/fns.png", alt="fns").sedebar-card__img
        a(href="#").sedebar-card__link Долги по базе ФНС
        .sedebar-card__add +
      .sedebar-card__debts
        include ./debts-fssp


    li.sedebar-card__item
      img(src="images/sidebar/search.svg", alt="search").sedebar-card__img
      a(href="#").sedebar-card__link Поиск по номеру ИП 
  .sedebar-card__gup
    .gup
  .sedebar-card__check
    img(src="images/sidebar/check.svg", alt="check").sedebar-card__icon
    .sedebar-card__text Последняя проверка
      span 23.09.2020
  .sedebar-card__btn
    a(href="#").btn.btn--blue
      span Обновить сейчас