label.checkbox
  .checkbox__indicator
    input(type="checkbox")
    div
  .checkbox__text
    | Согласен с 
    a.checkbox__link(href="#") правилами обработки персональных данных 
    | и 
    a.checkbox__link(href="#") правилами пользования сервисом.