form.form
  
  .field
    label.label Название организации
    input(type="text" placeholder="Название организации").input
    span.message Обязательное поле

  .field.field--error
    label.label Название организации
    input(type="text").input
    span.message Обязательное поле
