a(href="#").btn.btn--big.btn--green
  span normal

button.btn.btn--big.btn--green
  span normal

a(href="#").btn.btn--big.btn--active-green
  span active

button(href="#").btn.btn--big.btn--active-green
  span active

a(href="#").btn.btn--big.btn--disable
  span :disable

button.btn.btn--big.btn--disable
  span :disable

a(href="#").btn.btn--big.btn--pink
  span normal

button.btn.btn--big.btn--active-pink
  span active

a(href="#").btn.btn--big.btn--gray
  span normal


a(href="#").btn.btn--middle.btn--pink
  span :normal
  
button.btn.btn--middle.btn--active-pink
  span active

a(href="#").btn.btn--middle.btn--white 
  span :normal

button.btn.btn--middle.btn--active-white
  span active

<a href="#" class="btn btn--middle btn--pink btn--iconed">
  img(src="images/icons/brilliant.svg", alt="icon")
  span :active
</a>

button.btn.btn--middle.btn--active-pink.btn--iconed
  img(src="images/icons/brilliant.svg", alt="icon")
  span :active

a(href="#").btn.btn--middle.btn--white 
  span :normal

button.btn.btn--middle.btn--active-white 
  span active

a(href="#").btn.btn--small.btn--pink
  span :normal

a(href="#").btn.btn--small.btn--green.btn--iconed
  span :active
  img(src="images/icons/brilliant.svg", alt="icon")

a(href="#").btn.btn--little.btn--green.btn--iconed
  span :normal
    img(src="images/icons/brilliant.svg", alt="icon")
