
.btn__buttons
  a(href="#").btn.btn--big.btn--green
    span normal

.btn__buttons 

  a(href="#").btn.btn--big.btn--active-green
    span active

.btn__buttons 
  a(href="#").btn.btn--big.btn--disable
    span :disable

//- button(href="#").btn.btn--big.btn--active-green
//-   span active



//- button.btn.btn--big.btn--disable
//-   span :disable
.btn__buttons 
  a(href="#").btn.btn--big.btn--pink
    span normal
.btn__buttons 
  button.btn.btn--big.btn--active-pink
    span active
.btn__buttons 
  a(href="#").btn.btn--big.btn--gray
    span normal

.btn__buttons
  a(href="#").btn.btn--middle.btn--pink.btn--iconed
    img(src="images/icons/brilliant.svg", alt="icon")
    span :normal
.btn__buttons 
  button.btn.btn--middle.btn--active-pink.btn--iconed
    img(src="images/icons/brilliant.svg", alt="icon")
    span active

.btn__buttons 
  a(href="#").btn.btn--middle.btn--disable
    img(src="images/icons/brilliant.svg", alt="icon")
    span :disable

.btn__buttons
  a(href="#").btn.btn--middle.btn--white.btn--iconed
    img(src="images/icons/brilliant-red.svg", alt="icon")
    span :normal
.btn__buttons
  button.btn.btn--middle.btn--active-white
    img(src="images/icons/brilliant-red.svg", alt="icon")
    span active

.btn__buttons
  a(href="#").btn.btn--small.btn--pink.btn--iconed
    span :normal
      img(src="images/icons/post.svg", alt="icon")

.btn__buttons
  a(href="#").btn.btn--small.btn--iconed.btn--active-pink
    span :active
      img(src="images/icons/post.svg", alt="icon")


.btn__buttons
  a(href="#").btn.btn--small.btn--iconed.btn--disable
    span :disable
      img(src="images/icons/post.svg", alt="icon")


.btn__buttons
  a(href="#").btn.btn--small.btn--green.btn--iconed
    span :normal
    img(src="images/icons/plus.svg", alt="icon")


.btn__buttons
  a(href="#").btn.btn--small.btn--active-green.btn--iconed
    span :active
    img(src="images/icons/plus.svg", alt="icon")

.btn__buttons
  a(href="#").btn.btn--small.btn--disable.btn--iconed
    span :disable
    img(src="images/icons/plus.svg", alt="icon")

.btn__buttons
  a(href="#").btn.btn--little.btn--green.btn--iconed
    span :normal
      img(src="images/icons/plus.svg", alt="icon")
.btn__buttons
  a(href="#").btn.btn--little.btn--active-green.btn--iconed
    span :active
      img(src="images/icons/plus.svg", alt="icon")
.btn__buttons
  a(href="#").btn.btn--little.btn--disable.btn--iconed
    span :disable
      img(src="images/icons/plus.svg", alt="icon")