.user-info
  
  img(src="images/icons/area.svg", alt="login").user-info__icon
  
  .user-info__text 
    
    .user-info-text
      span.user-info-text__title Логин:    
      span.user-info-text__value 79992223355 
    
    .user-info-text 
      span.user-info-text__title Пароль:    
      span.user-info-text__value 79992223355
