.personal-data
  .personal-data__contact
    .personal-data__icon
      img(src="images/icons/mail.svg", alt="mail")
    .personal-data__text Почта
    input(type="text" placeholder="johntravolta@gmail.com").personal-data__input
    span.message Обязательное поле
  .personal-data__contact

    .personal-data__icon
      img(src="images/icons/phone-blue.svg", alt="phone-blue")
    .personal-data__text Номер телефона
    .personal-data__info +7 999 222 33 55
    .personal-data__btn
      a(href="#").btn.btn--small.btn--dark.btn--iconed
        img(src="images/icons/pencil.svg", alt="icon")
        span Изменить
  .personal-data__contact
 
    .personal-data__icon
      img(src="images/icons/data.svg", alt="data")
    .personal-data__text Дата регистрации
    .personal-data__info 27. 09. 2020
    
