.personal-data
  .personal-data__contact
    .personal-data__icon
      img(src="images/icons/bell.svg", alt="bell")
    .personal-data__text Уведомления о штрафах
    .personal-data__checkbox
      label.personal-data__label ВКЛ
        input(type="checkbox")
        .checkbox 
    
  
  .personal-data__contact
    .personal-data__icon
      img(src="images/icons/clock.svg", alt="clock")
    .personal-data__text Периодичность
    .personal-data__info.personal-data__info--color Ежедневно
    .personal-data__btn
      a(href="#").btn.btn--small.btn--dark.btn--iconed
        img(src="images/icons/pencil.svg", alt="icon")
        span Изменить
  .personal-data__contact
    .personal-data__icon
      img(src="images/icons/lock.svg", alt="lock")
    .personal-data__text Безопасность
  .personal-data__contact
    label.personal-data__label Новый пароль
    input(type="text" ).personal-data__input
    
  .personal-data__contact
    label.personal-data__label Повторный ввод нового пароля
    input(type="text").personal-data__input
    
  .personal-data__contact
    label.personal-data__label Старый пароль
    input(type="text").personal-data__input